# Where to find the database file
DATABASE_FILE = ""

# To connect to a subsonic API; specify one or more subsonic servers:
SUBSONIC_SERVERS = {
    "server_name": {
        "host": "",  # include http:// or https://
        "username": "",
        "password": "",
        "port": 4533
    },
}

# List of music directories to scan by default
# If paths are passed to scan command, this list is ignored.
# Invalid directories are skipped.
MUSIC_DIRECTORIES = [
    'My/Music/Directory 1',
    'My/Music/Directory 2',
]
