click>=8.0
ujson>=5.4.0
requests
psycopg2-binary>=2.9.3
countryinfo>=0.1.2
pylistenbrainz@git+https://github.com/metabrainz/pylistenbrainz.git@v0.5.2
python-dateutil>=2.8.2
spotipy>=2.22.1
more_itertools
pyparsing
troi@git+https://github.com/metabrainz/troi-recommendation-playground.git@lb-local
