{%- extends 'base.html' -%}
{%- block title -%}{{ slug }}{% endblock %}
{%- block content -%}

<h2><a href="/">Troi</a> : {{ slug }}</h2>
<p>
   {{ desc }}
</p>

<form action="/{{ slug }}">
  {% for input in inputs %}
     <label for="{{ input.name }}">{{ input.name }}</label>
     <input type="text" 
            id="{{ input.name }}" 
            name="{{ input.name }}" 
            placeholder="{{ input.desc }} ({{ input.type }})"
            value="{{ args[loop.index0] or "" | escape }}"><br>
  {% endfor %}
  <input type="submit" value="generate playlist">
</form>


{% if count >= 0 %}
    <div style="float: right">
       <form action="https://listenbrainz.org/player" method="POST">
          <textarea name="listens" id="listens" style="display: none;">{{ post_data }} </textarea>
          <input type="submit" value="Open in BrainzPlayer...">
       </form>
    </div>
    <div style="float: clear">
       <b>{{ count }} recordings returned</b>.
    </div>
{% endif %}

{% if error %}
  <div>
    <p>An error occurred:</p>
    <div>
      <pre>{{ error }} </pre>
    </div>
  </div>
{% endif %}
{% if recordings %}
  <table>
    <thead>
      <tr>
        <th>recording</th>
        <th>artist</th>
      </tr>
    </thead>
    <tbody>
      {% for rec in recordings %}
        <tr>
          <td><a href="https://musicbrainz.org/recording/{{ rec.mbid }}">{{ rec.name }}</a></td>
          <td>
            {% if rec.artist.mbids and rec.artist.mbids | length() > 1 %}
                {{ rec.artist.name }} 
                {% for mbid in rec.artist.mbids %}
                   <a href="https://musicbrainz.org/artist/{{ mbid }}">{{ loop.index }}</a>
                {% endfor %}
            {% else %}
                <a href="https://musicbrainz.org/artist/{{ rec.artist.mbids[0] }}">{{ rec.artist.name }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>
     No recordings were returned. 😢
  </p>
{% endif %}


{% endblock%}

{% block scripts %}
{% endblock %}
